p {
  height: 200px;
  width: 200px;
  border: 10px solid black;
}

p:first-child {
  overflow-y: auto;
}

p:nth-child(2) {
  overflow-y: hidden;
}

p:nth-child(3) {
  overflow-y: scroll;
}

p:nth-child(4) {
  overflow-y: visible;
}
